name: Publish VS Code Extension

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install vsce
        run: npm install -g @vscode/vsce

      - name: Publish extension
        run: vsce publish patch --no-git-tag-version
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
